.idea/
.ipynb_checkpoints/
__pycache__/
# Папки ниже предполагается, что
# являются индивидуальными для каждого исследователя
Statistics/*
Simulations/*
Pictures/*
c_values/*
Designs/*
Data/*
Projects/*
# Папка для неактуальных скриптов
log/
# Названия для рабочих скриптов
test*
TEST*
lolik*
descr*
research*
rs_*
study*
# Индивидуальные файлы разработчика lagutina-alena
main.py
lagutina_main.py
optorun.py
MATLAB_files/


